html {
    background-image: url("images/lavender.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 0;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Rubik';
}

nav {
    font-size: larger;
    font-weight: 700;
}

a {
    color: black;
}

.inactive-link {
    color: grey;
}

h1 {
    font-size: xx-large;
}

img {
    width: 600px;
    border-radius: 100px;
}

article table {
    margin-left: auto;
    margin-right: auto;
}

article .wedding-date {
    font-size: xx-large;
}

article form #rsvp-form-guests {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article form .guest-card {
    margin: 20px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

article form fieldset .field {
    margin: 20px;
}

article form input {
    margin-top: 10px;
}

/*header*/
 
header {
    padding: 0px 10px;
}
 
        /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:"";
            display:table;
        }
         
        header:after {
            clear:both;
        }
         
        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }

h1 {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0.2em;
    margin-top: 35px;
    margin-top: 35px;
}

header ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

header li {
    list-style-type: none;
    margin: 5px;
}

@media only screen and (max-device-width: 600px) {
    body {
        margin: 0;
    }
    article {
      width: 100%;
    }
    img {
        width: 100%;
        border-radius: 0;
    }
    article iframe {
        width: 100%;
    }
  }